#content>div {
    display: inline-flex;
    flex-direction: column;
    max-width: 60%;
}

#content>div>div>h3 {
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);

    padding-bottom: 25px;
    margin-bottom: 15px;
    padding: 25px;
    padding-top: 0px;

    background-color: var(--card-background-color);
}

#content>div>div>div>:nth-child(4),
#content>div>div>div>:nth-child(5),
#content>div>div>div>:nth-child(6) {
    display: inline-block;
    padding-right: 50px;
}

#content>div>div>div>:first-child {
    padding-right: 25px;
}

#content>div>div>div>h4>img {
    padding-right: 25px;
}

#content>div>div>div>h4 {
    padding-bottom: 25px;
}

#content>div>div>div>:nth-child(4) {
    padding-bottom: 10px;
}

#content>div>div>div:not(:last-child) {
    padding-bottom: 25px;
}


#content>div>#experiences {
    padding-top: 35px;
}

#content>div>div>div {
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);

    margin-bottom: 15px;
    padding: 25px;
    padding-top: 0px;

    background-color: var(--card-background-color);
}