@font-face {
    font-family: VarelaRound;
    src: url(./VarelaRound-Regular.ttf);
}

#theme, #print, #download {
    max-width: fit-content;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-style: solid;

    background-color: var(--card-background-color);
    box-shadow: var(--box-shadow);

    position: absolute;
}

#theme{
    right: 25px;
    top: 2vh;
}
#print{
    right: 100px;
    top: 2vh;
}
#download{
    right: 175px;
    top: 2vh;
}

.theme-svg, .print-svg, .download-svg {
    max-width: 25px;
    padding: 10px;
}

.svg,
.svg-small {
    transform: translateY(25%);
}

.svg,
.svg-block {
    max-width: 50px;
}

.svg-block {
    transform: translateX(25%);
    padding-top: 20px;
}

.svg-small {
    max-width: 25px;
}

.svg,
.svg-block,
.svg-small,
.theme-svg,
.print-svg,
.download-svg {
    filter: var(--svg-filter);
}

a {
    font-size: 20px;
    color: var(--link-color);
}

h1 {
    font-size: 45px;
    font-family: serif;
    color: var(--title-color);
}

h2 {
    font-size: 30px;
    color: var(--title-h2-color);
}

h3 {
    font-size: 25px;
    color: var(--sub-title-color);
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

#liens>h3,
#contact>h3 {
    text-align: start !important;
}

h4 {
    text-decoration: underline;
    text-decoration-skip: object;
    font-size: 20px;
    color: var(--sub-title-color);
    text-transform: capitalize;
}

h5 {
    font-size: 20px;
    color: var(--smaller-title-color);
    text-transform: uppercase;
}

p {
    font-size: 20px;
    color: var(--font-color);
}