@font-face {
    font-family: VarelaRound;
    src: url(./VarelaRound-Regular.ttf);
}

.theme-svg {
    max-width: 25px;
    padding: 10px;
}

#theme {
    max-width: fit-content;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-style: solid;

    background-color: var(--card-background-color);
    box-shadow: var(--box-shadow);

    position: absolute;
    right: 2vw;
    top: 2vh;
}

.theme-svg {
    max-width: 25px;
    padding: 10px;
}

#theme {
    max-width: fit-content;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-style: solid;

    background-color: var(--card-background-color);
    box-shadow: var(--box-shadow);

    position: absolute;
    right: 2vw;
    top: 2vh;
}

.svg,
.svg-small {
    transform: translateY(25%);
}

.svg,
.svg-block {
    max-width: 50px;
}

.svg-block {
    transform: translateX(25%);
    padding-top: 20px;
}

.svg-small {
    max-width: 25px;
}

.svg,
.svg-block,
.svg-small,
.theme-svg {
    filter: var(--svg-filter);
}

a {
    color: var(--title-color)
}

h1 {
    font-size: 45px;
    font-family: serif;
    color: var(--title-color);
}

h2 {
    font-size: 30px;
    color: var(--title-h2-color);
}

h3 {
    font-size: 25px;
    color: var(--smaller-title-color);
    text-transform: uppercase;

}

h4 {
    text-decoration: underline;
    text-decoration-skip: object;
    font-size: 20px;
    color: var(--smaller-title-color);
    text-transform: capitalize;
}

h5 {
    font-size: 20px;
    color: var(--smaller-title-color);
    text-transform: uppercase;
}

p {
    font-size: 20px;
    color: var(--font-color);
}

.small {
    font-size: 15px;
}